<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../../../assets/slider.js"></script>
</head>
<body>
    <div class="splitview skewed">
        <div class="panel bottom">
            <div class="content">
                <div class="description">
                    <h1>Efficacité.</h1>
                    <p>Trouvez les Meilleurs Talents, Peu Importe le Domaine, avec Notre Siteweb Révolutionnaire!</p>
                </div>
    
                <img src="https://global-uploads.webflow.com/639bfff43f6668672991c0eb/63b7842602e67ec1be1c1216_1%20Male%20Interior%20Painting%205%20-%201x1.png" alt="Original">
            </div>
        </div>
    
        <div class="panel top">
            <div class="content">
                <div class="description">
                    <h1>Rapidité.</h1>
                    <p>Recrutez Rapidement et Efficacement avec Notre Siteweb d'Embauche Tous Secteurs Confondus!</p>
                </div>
    
                <img src="https://global-uploads.webflow.com/639bfff43f6668672991c0eb/63a3a2a890ad16fbc891dbfc_2%20Males%20Interior%20Painting%20-%201x1.png" alt="Duotone">
            </div>
        </div>
    
        <div class="handle"></div>
    </div>
</body>
</html>