<div>
    <h1 class="title">Dashboard</h1>
</div>
<div class="analitics-container">
    <div class="analitics-card">
        <p class="analitics-text">Utilisateur Actifs :</p>
        <p class="analitics-text">{{workerValidated}} Utilisateur</p>
    </div>
    <div class="analitics-card">
        <p class="analitics-text">nouveau demande   :</p>
        <p class="analitics-text">{{workersNotValidated}} : Utilisateur</p>
    </div>
    <div class="analitics-card">
        <p class="analitics-text">Nombre de services :</p>
        <p class="analitics-text">{{professionCount}} : Professions</p>
    </div>
</div>
<div>
    <h1 class="title">Menu</h1>
</div>